In [11]:
import pandas as pd 
import numpy as np
import seaborn as sns
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder
from sklearn import preprocessing

# Q1: Apply Ordinal encoding.

In [12]:
data={'Rating':('A','B','C')}
df = pd.DataFrame(data)

df

  Rating
0      A
1      B
2      C

# Q2: Apply One hot encoding.

In [16]:
encoder = OneHotEncoder(sparse=False)
one_hot = encoder.fit_transform(df)
one_hot

array([[0., 0., 1., 0., 1., 0.],
       [0., 0., 1., 0., 1., 0.],
       [1., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 1.],
       [0., 1., 0., 1., 0., 0.],
       [1., 0., 0., 0., 0., 1.]])

# Q3: Apply Frequency Encoding.

In [14]:
data = {
    'column':('red','red','blue','blue','green','blue')
}
df = pd.DataFrame(data)
freq=df['column'].value_counts()
df['frequency'] = df['column'].apply(lambda x : freq[x])
df

  column  frequency
0    red          2
1    red          2
2   blue          3
3   blue          3
4  green          1
5   blue          3

# Q4: Apply Binary Encoding.

In [15]:
lb = preprocessing.LabelBinarizer()
binary = lb.fit_transform(['y','y','n','y','n'])