In [66]:
import pandas as pd 
import numpy as np

# Q1: Apply Ordinal encoding.

In [67]:
df = pd.DataFrame({"Score": ["Low",  "Medium", "High", "Low", "Medium", "Low"]})
print(df)

    Score
0     Low
1  Medium
2    High
3     Low
4  Medium
5     Low

In [68]:
scale_mapper = {"High":1, "Medium":2, "Low":3}
df["Scale"] = df["Score"].replace(scale_mapper)
print(df)

    Score  Scale
0     Low      3
1  Medium      2
2    High      1
3     Low      3
4  Medium      2
5     Low      3

# Q2: Apply One hot encoding.

In [69]:
from sklearn.preprocessing import OneHotEncoder



encoder = OneHotEncoder(handle_unknown='ignore')

ndf = pd.DataFrame(encoder.fit_transform(df[['Score']]).toarray())


fdf = df.join(ndf)


print(fdf)

    Score  Scale    0    1    2
0     Low      3  0.0  1.0  0.0
1  Medium      2  0.0  0.0  1.0
2    High      1  1.0  0.0  0.0
3     Low      3  0.0  1.0  0.0
4  Medium      2  0.0  0.0  1.0
5     Low      3  0.0  1.0  0.0

# Q3: Apply Frequency Encoding.

In [79]:
df

    Score  Scale
0     Low      3
1  Medium      2
2    High      1
3     Low      3
4  Medium      2
5     Low      3

# Q4: Apply Binary Encoding.

In [82]:
encoder= ce.BinaryEncoder(cols=['Score'],return_df=True)

data_encoded=encoder.fit_transform(df) 
data_encoded

   Score_0  Score_1  Scale
0        0        1      3
1        1        0      2
2        1        1      1
3        0        1      3
4        1        0      2
5        0        1      3