In [18]:
import pandas as pd 
import numpy as np
from sklearn.preprocessing import OrdinalEncoder,OneHotEncoder
import math

In [3]:
data=pd.read_csv('insurance.csv')
test=data.copy()

In [4]:
data.head(3)

   age     sex    bmi  children smoker     region     charges
0   19  female  27.90         0    yes  southwest  16884.9240
1   18    male  33.77         1     no  southeast   1725.5523
2   28    male  33.00         3     no  southeast   4449.4620

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

# Q1: Apply Ordinal encoding.

In [6]:
test=data.copy()
O_encoder=OrdinalEncoder()
f=[ [i] for i in test['region']]
O_encoder.fit(f)
test['region']=pd.Series(O_encoder.transform(f)[:,0])

In [7]:
test['region'].unique()

array([3., 2., 1., 0.])

In [8]:
data['region'].unique()

array(['southwest', 'southeast', 'northwest', 'northeast'], dtype=object)

# Q2: Apply One hot encoding.

In [9]:
test=data.copy()
OH_encoder=OneHotEncoder()
f=[ [i] for i in test['region']]
OH_encoder.fit(f)
OH_encoder.transform(f)
print(OH_encoder.transform(f))

  (0, 3)	1.0
  (1, 2)	1.0
  (2, 2)	1.0
  (3, 1)	1.0
  (4, 1)	1.0
  (5, 2)	1.0
  (6, 2)	1.0
  (7, 1)	1.0
  (8, 0)	1.0
  (9, 1)	1.0
  (10, 0)	1.0
  (11, 2)	1.0
  (12, 3)	1.0
  (13, 2)	1.0
  (14, 2)	1.0
  (15, 3)	1.0
  (16, 0)	1.0
  (17, 0)	1.0
  (18, 3)	1.0
  (19, 3)	1.0
  (20, 0)	1.0
  (21, 3)	1.0
  (22, 2)	1.0
  (23, 0)	1.0
  (24, 1)	1.0
  :	:
  (1313, 3)	1.0
  (1314, 1)	1.0
  (1315, 0)	1.0
  (1316, 3)	1.0
  (1317, 2)	1.0
  (1318, 0)	1.0
  (1319, 1)	1.0
  (1320, 1)	1.0
  (1321, 0)	1.0
  (1322, 2)	1.0
  (1323, 2)	1.0
  (1324, 1)	1.0
  (1325, 0)	1.0
  (1326, 0)	1.0
  (1327, 2)	1.0
  (1328, 0)	1.0
  (1329, 3)	1.0
  (1330, 2)	1.0
  (1331, 3)	1.0
  (1332, 3)	1.0
  (1333, 1)	1.0
  (1334, 0)	1.0
  (1335, 2)	1.0
  (1336, 3)	1.0
  (1337, 1)	1.0

# Q3: Apply Frequency Encoding.

In [10]:
def Frequency_encoder(data):
    encoder={}
    for i,item in data.iteritems():
        encoder[item]=encoder.get(item,0)+1
    decoder={v: k for k, v in encoder.items()}
    return encoder, decoder

In [11]:
test=data.copy()
encoder,decoder=Frequency_encoder(test['region'])

In [12]:
encoder

{'southwest': 325, 'southeast': 364, 'northwest': 325, 'northeast': 324}

In [13]:
decoder

{325: 'northwest', 364: 'southeast', 324: 'northeast'}

In [14]:
test['region'].apply(lambda x : encoder[x])

0       325
1       364
2       364
3       325
4       325
       ...
1333    325
1334    324
1335    364
1336    325
1337    325
Name: region, Length: 1338, dtype: int64

# Q4: Apply Binary Encoding.

In [73]:
def from_D_to_B(num,num_digts):
    result=[]
    for i in range(num_digts-1):
        right = num%2
        left = math.floor(num/2)
        result.append(right)
        num=left
    result.reverse()
    return result

def Binary_encoder(data):
    length=len(data.unique())
    labels={item:i+1 for i,item in enumerate(data.unique())}
    num_digts= math.ceil(math.log(length,2))
    encoder={k:from_D_to_B(v,length) for k,v in labels.items()}

    return encoder

In [77]:
test=data.copy()
encoder=Binary_encoder(test['region'])
encoder

{'southwest': [0, 0, 1],
 'southeast': [0, 1, 0],
 'northwest': [0, 1, 1],
 'northeast': [1, 0, 0]}

In [78]:
test[['d1','d2','d3']]=test['region'].apply(lambda x : pd.Series(encoder[x]))

In [79]:
test

      age     sex     bmi  children smoker     region      charges  d1  d2  d3
0      19  female  27.900         0    yes  southwest  16884.92400   0   0   1
1      18    male  33.770         1     no  southeast   1725.55230   0   1   0
2      28    male  33.000         3     no  southeast   4449.46200   0   1   0
3      33    male  22.705         0     no  northwest  21984.47061   0   1   1
4      32    male  28.880         0     no  northwest   3866.85520   0   1   1
...   ...     ...     ...       ...    ...        ...          ...  ..  ..  ..
1333   50    male  30.970         3     no  northwest  10600.54830   0   1   1
1334   18  female  31.920         0     no  northeast   2205.98080   1   0   0
1335   18  female  36.850         0     no  southeast   1629.83350   0   1   0
1336   21  female  25.800         0     no  southwest   2007.94500   0   0   1
1337   61  female  29.070         0    yes  northwest  29141.36030   0   1   1

[1338 rows x 10 columns]