In [2]:
import pandas as pd 
import numpy as np

# Q1: Apply Ordinal encoding.

#### In this Question I use OrdinalEncoder whic is build in sklearn

In [3]:
from sklearn.preprocessing import OrdinalEncoder
scores_df = pd.DataFrame({"Score": ["Low", "Low", "Medium", "Medium", "High", "Low", "Medium","High", "Low"]})

In [4]:
ordinal_encoder = OrdinalEncoder(categories=[['Low','Medium','High']]) # Categories parameter will help to identify the order of data 0=> Low, 2=>High
encoded_data = ordinal_encoder.fit_transform(scores_df)
encoded_data

array([[0.],
       [0.],
       [1.],
       [1.],
       [2.],
       [0.],
       [1.],
       [2.],
       [0.]])

# Q2: Apply One hot encoding.

#### In this Question, I used two functions for one hot encoding, first is get_dummies in pandas, and second in OneHot Encoder in sklearn. Both gave me the same desired result.

In [8]:
fruits_df = pd.DataFrame({"Fruit": ["apple", "mango", "banana", "orange", "orange", "apple", "mango","banana", "apple"]})
encoded_fruits = pd.get_dummies(fruits_df) # get_dummies function is a build in function in pandas that uses for one hot encoding 
encoded_fruits

   Fruit_apple  Fruit_banana  Fruit_mango  Fruit_orange
0            1             0            0             0
1            0             0            1             0
2            0             1            0             0
3            0             0            0             1
4            0             0            0             1
5            1             0            0             0
6            0             0            1             0
7            0             1            0             0
8            1             0            0             0

In [9]:
from sklearn.preprocessing import OneHotEncoder
one_hot_encoder = OneHotEncoder()
encoded_fruits2 = one_hot_encoder.fit(fruits_df)
encoded_fruits2 = one_hot_encoder.transform(fruits_df).toarray()
encoded_fruits2

array([[1., 0., 0., 0.],
       [0., 0., 1., 0.],
       [0., 1., 0., 0.],
       [0., 0., 0., 1.],
       [0., 0., 0., 1.],
       [1., 0., 0., 0.],
       [0., 0., 1., 0.],
       [0., 1., 0., 0.],
       [1., 0., 0., 0.]])

# Q3: Apply Frequency Encoding.

#### In this Question, I create dataframe about clothes types, then used value_counts and save the result into dictionary named freqs, then map each element in the data frame with it crossponding frequency.

In [15]:
fashion_df = pd.DataFrame({'Colthes_Type':['Shirt','Skirt','Sweater','Jeans','Shirt','Skirt','Sweater','Jeans','Shoes','Bag']})
fashion_df

  Colthes_Type
0        Shirt
1        Skirt
2      Sweater
3        Jeans
4        Shirt
5        Skirt
6      Sweater
7        Jeans
8        Shoes
9          Bag

In [16]:
freqs = fashion_df['Colthes_Type'].value_counts().to_dict()
fashion_df['Colthes_Type'] = fashion_df['Colthes_Type'].map(freqs)
fashion_df

   Colthes_Type
0             2
1             2
2             2
3             2
4             2
5             2
6             2
7             2
8             1
9             1

# Q4: Apply Binary Encoding.

##### The Binary Encoder from category_encoders will take any categorical data and convert it into a numerical values then convert the numbers into the binary representation of it, in this example I have 3 types of sweets, the binary encoder assign 1 => Kitkat , 2=> Kinder , 3=> M&Ms then represents that in binary encoding.

In [23]:
from category_encoders import BinaryEncoder
data_frame = pd.DataFrame({'Sweets':['KitKat','Kinder','M&Ms','KitKat','Kinder','M&Ms']})
bi_encoder = BinaryEncoder()
encoded_data = bi_encoder.fit_transform(data_frame)
encoded_data

   Sweets_0  Sweets_1
0         0         1
1         1         0
2         1         1
3         0         1
4         1         0
5         1         1