In [2]:
import pandas as pd 
import numpy as np

In [3]:
df=pd.read_csv('Athletes_summer_games.csv')
df.head()

,Unnamed: 0,Name,Sex,Age,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,0,A Dijiang,M,24.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,1,A Lamusi,M,23.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,2,Gunnar Nielsen Aaby,M,24.0,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,3,Edgar Lindenau Aabye,M,34.0,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,26,"Cornelia ""Cor"" Aalten (-Strannood)",F,18.0,Netherlands,NED,1932 Summer,1932,Summer,Los Angeles,Athletics,Athletics Women's 100 metres,NaN

In [4]:
df_copy=df.copy()
df_copy.tail()

,Unnamed: 0,Name,Sex,Age,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
237668,15116,ZWOLINSKA Klaudia,F,22.0,Poland,POL,2020 Summer,2020,Summer,Tokyo,Canoe Slalom,Women's Kayak,NaN
237669,15117,ZYKOVA Yulia,F,25.0,Russia,ROC,2020 Summer,2020,Summer,Tokyo,Shooting,50m Rifle 3 Positions Women,Silver
237670,15118,ZYUZINA Ekaterina,F,24.0,Russia,ROC,2020 Summer,2020,Summer,Tokyo,Sailing,Women's One Person Dinghy - Laser Radial,NaN
237671,15119,ZYZANSKA Sylwia,F,24.0,Poland,POL,2020 Summer,2020,Summer,Tokyo,Archery,Women's Individual,NaN
237672,15120,ZYZANSKA Sylwia,F,24.0,Poland,POL,2020 Summer,2020,Summer,Tokyo,Archery,Mixed Team,NaN

In [5]:
sex_col=np.asarray(df.loc[:,'Sex'])
sex_col=sex_col.reshape(-1, 1)
sex_col

array([['M'],
       ['M'],
       ['M'],
       ...,
       ['F'],
       ['F'],
       ['F']], dtype=object)

In [6]:
Team_col=np.asarray(df.loc[:,'Team'])
Team_col=Team_col.reshape(-1, 1)
Team_col

array([['China'],
       ['China'],
       ['Denmark'],
       ...,
       ['Russia'],
       ['Poland'],
       ['Poland']], dtype=object)

In [7]:
city_col=np.asarray(df.loc[:,'City'])
city_col=city_col.reshape(-1, 1)
city_col

array([['Barcelona'],
       ['London'],
       ['Antwerpen'],
       ...,
       ['Tokyo'],
       ['Tokyo'],
       ['Tokyo']], dtype=object)

# Q1: Apply Ordinal encoding.

In [8]:
from sklearn.preprocessing import OrdinalEncoder ,OneHotEncoder
encoder = OrdinalEncoder()
df_copy['sex_Ordinal'] = encoder.fit_transform(sex_col)
df_copy

,Unnamed: 0,Name,Sex,Age,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,sex_Ordinal
0,0,A Dijiang,M,24.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN,1.0
1,1,A Lamusi,M,23.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN,1.0
2,2,Gunnar Nielsen Aaby,M,24.0,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN,1.0
3,3,Edgar Lindenau Aabye,M,34.0,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold,1.0
4,26,"Cornelia ""Cor"" Aalten (-Strannood)",F,18.0,Netherlands,NED,1932 Summer,1932,Summer,Los Angeles,Athletics,Athletics Women's 100 metres,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
237668,15116,ZWOLINSKA Klaudia,F,22.0,Poland,POL,2020 Summer,2020,Summer,Tokyo,Canoe Slalom,Women's Kayak,NaN,0.0
237669,15117,ZYKOVA Yulia,F,25.0,Russia,ROC,2020 Summer,2020,Summer,Tokyo,Shooting,50m Rifle 3 Positions Women,Silver,0.0
237670,15118,ZYUZINA Ekaterina,F,24.0,Russia,ROC,2020 Summer,2020,Summer,Tokyo,Sailing,Women's One Person Dinghy - Laser Radial,NaN,0.0
237671,15119,ZYZANSKA Sylwia,F,24.0,Poland,POL,2020 Summer,2020,Summer,Tokyo,Archery,Women's Individual,NaN,0.0
237672,15120,ZYZANSKA Sylwia,F,24.0,Poland,POL,2020 Summer,2020,Summer,Tokyo,Archery,Mixed Team,NaN,0.0

# Q2: Apply One hot encoding.

In [10]:
enc = OneHotEncoder()
# transforming the column after fitting
enc = enc.fit_transform(df_copy[['Sex']]).toarray()

encoded_colm = pd.DataFrame(enc)

df_copy= pd.concat([df_copy, encoded_colm], axis=1)

print(encoded_colm)

          0    1
0       0.0  1.0
1       0.0  1.0
2       0.0  1.0
3       0.0  1.0
4       1.0  0.0
...     ...  ...
237668  1.0  0.0
237669  1.0  0.0
237670  1.0  0.0
237671  1.0  0.0
237672  1.0  0.0

[237673 rows x 2 columns]

In [11]:
df_copy.tail()

,Unnamed: 0,Name,Sex,Age,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,sex_Ordinal,0,1
237668,15116,ZWOLINSKA Klaudia,F,22.0,Poland,POL,2020 Summer,2020,Summer,Tokyo,Canoe Slalom,Women's Kayak,NaN,0.0,1.0,0.0
237669,15117,ZYKOVA Yulia,F,25.0,Russia,ROC,2020 Summer,2020,Summer,Tokyo,Shooting,50m Rifle 3 Positions Women,Silver,0.0,1.0,0.0
237670,15118,ZYUZINA Ekaterina,F,24.0,Russia,ROC,2020 Summer,2020,Summer,Tokyo,Sailing,Women's One Person Dinghy - Laser Radial,NaN,0.0,1.0,0.0
237671,15119,ZYZANSKA Sylwia,F,24.0,Poland,POL,2020 Summer,2020,Summer,Tokyo,Archery,Women's Individual,NaN,0.0,1.0,0.0
237672,15120,ZYZANSKA Sylwia,F,24.0,Poland,POL,2020 Summer,2020,Summer,Tokyo,Archery,Mixed Team,NaN,0.0,1.0,0.0

# Q3: Apply Frequency Encoding.

In [12]:

freq = (df_copy.groupby('Team').size()) / len(df_copy)
freq

Team
30. Februar              0.000008
A North American Team    0.000017
Acipactli                0.000013
Acturus                  0.000008
Afghanistan              0.000551
                           ...
Zambia                   0.000900
Zefyros                  0.000008
Zimbabwe                 0.001313
Zut                      0.000013
rn-2                     0.000021
Length: 1169, dtype: float64

In [13]:
df_copy['Team_frq-encod'] = df_copy['Team'].apply(lambda x : freq[x])
df_copy

,Unnamed: 0,Name,Sex,Age,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,sex_Ordinal,0,1,Team_frq-encod
0,0,A Dijiang,M,24.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN,1.0,0.0,1.0,0.019998
1,1,A Lamusi,M,23.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN,1.0,0.0,1.0,0.019998
2,2,Gunnar Nielsen Aaby,M,24.0,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN,1.0,0.0,1.0,0.014516
3,3,Edgar Lindenau Aabye,M,34.0,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold,1.0,0.0,1.0,0.000025
4,26,"Cornelia ""Cor"" Aalten (-Strannood)",F,18.0,Netherlands,NED,1932 Summer,1932,Summer,Los Angeles,Athletics,Athletics Women's 100 metres,NaN,0.0,1.0,0.0,0.022897
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
237668,15116,ZWOLINSKA Klaudia,F,22.0,Poland,POL,2020 Summer,2020,Summer,Tokyo,Canoe Slalom,Women's Kayak,NaN,0.0,1.0,0.0,0.021509
237669,15117,ZYKOVA Yulia,F,25.0,Russia,ROC,2020 Summer,2020,Summer,Tokyo,Shooting,50m Rifle 3 Positions Women,Silver,0.0,1.0,0.0,0.017204
237670,15118,ZYUZINA Ekaterina,F,24.0,Russia,ROC,2020 Summer,2020,Summer,Tokyo,Sailing,Women's One Person Dinghy - Laser Radial,NaN,0.0,1.0,0.0,0.017204
237671,15119,ZYZANSKA Sylwia,F,24.0,Poland,POL,2020 Summer,2020,Summer,Tokyo,Archery,Women's Individual,NaN,0.0,1.0,0.0,0.021509
237672,15120,ZYZANSKA Sylwia,F,24.0,Poland,POL,2020 Summer,2020,Summer,Tokyo,Archery,Mixed Team,NaN,0.0,1.0,0.0,0.021509

# Q4: Apply Binary Encoding.

In [15]:
import category_encoders as ce

encoder = ce.BinaryEncoder(cols = ['Age'] , return_df = True)
df_copy= encoder.fit_transform(df_copy)
df_copy

,Unnamed: 0,Name,Sex,Age_0,Age_1,Age_2,Age_3,Age_4,Age_5,Age_6,...,Year,Season,City,Sport,Event,Medal,sex_Ordinal,0,1,Team_frq-encod
0,0,A Dijiang,M,0,0,0,0,0,0,1,...,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN,1.0,0.0,1.0,0.019998
1,1,A Lamusi,M,0,0,0,0,0,1,0,...,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN,1.0,0.0,1.0,0.019998
2,2,Gunnar Nielsen Aaby,M,0,0,0,0,0,0,1,...,1920,Summer,Antwerpen,Football,Football Men's Football,NaN,1.0,0.0,1.0,0.014516
3,3,Edgar Lindenau Aabye,M,0,0,0,0,0,1,1,...,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold,1.0,0.0,1.0,0.000025
4,26,"Cornelia ""Cor"" Aalten (-Strannood)",F,0,0,0,0,1,0,0,...,1932,Summer,Los Angeles,Athletics,Athletics Women's 100 metres,NaN,0.0,1.0,0.0,0.022897
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
237668,15116,ZWOLINSKA Klaudia,F,0,0,0,1,0,0,0,...,2020,Summer,Tokyo,Canoe Slalom,Women's Kayak,NaN,0.0,1.0,0.0,0.021509
237669,15117,ZYKOVA Yulia,F,0,0,1,0,0,0,0,...,2020,Summer,Tokyo,Shooting,50m Rifle 3 Positions Women,Silver,0.0,1.0,0.0,0.017204
237670,15118,ZYUZINA Ekaterina,F,0,0,0,0,0,0,1,...,2020,Summer,Tokyo,Sailing,Women's One Person Dinghy - Laser Radial,NaN,0.0,1.0,0.0,0.017204
237671,15119,ZYZANSKA Sylwia,F,0,0,0,0,0,0,1,...,2020,Summer,Tokyo,Archery,Women's Individual,NaN,0.0,1.0,0.0,0.021509
237672,15120,ZYZANSKA Sylwia,F,0,0,0,0,0,0,1,...,2020,Summer,Tokyo,Archery,Mixed Team,NaN,0.0,1.0,0.0,0.021509