In [8]:
import pandas as pd 
import numpy as np

# Q1: Apply Ordinal encoding.

In [60]:
from sklearn.preprocessing import OrdinalEncoder

df = pd.read_csv("HR_Missing_Vslues.csv")

df = df.dropna()
print(df.columns)

Index(['Employee_Name', 'EmpID', 'Salary', 'PositionID', 'Position', 'DOB',
       'Sex', 'MaritalDesc', 'RaceDesc', 'DateofHire', 'DateofTermination',
       'Department', 'ManagerName', 'ManagerID', 'RecruitmentSource',
       'Absences'],
      dtype='object')

In [61]:
enc = OrdinalEncoder()
df[['Department']] = enc.fit_transform(df[['Department']])

In [62]:
df.shape

(32, 16)

# Q2: Apply One hot encoding.

In [55]:
from sklearn.preprocessing import OneHotEncoder

encoder = OneHotEncoder(sparse=False)

df1 = encoder.fit_transform(df[['MaritalDesc']])
print(df.MaritalDesc.value_counts())
df1

Married      17
Single       10
Divorced      3
Separated     1
Widowed       1
Name: MaritalDesc, dtype: int64

array([[0., 1., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 1., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 0., 0., 1.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 1., 0.],
       [0., 1., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 1., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 1., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [1., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0.]])

# Q3: Apply Frequency Encoding.

In [57]:
dff= df.RaceDesc.value_counts()
dff

White                        20
Black or African American    10
Asian                         1
Two or more races             1
Name: RaceDesc, dtype: int64

In [63]:
df['RaceDesc_f']=df.RaceDesc.map(dff)
df.head()

,Employee_Name,EmpID,Salary,PositionID,Position,DOB,Sex,MaritalDesc,RaceDesc,DateofHire,DateofTermination,Department,ManagerName,ManagerID,RecruitmentSource,Absences,RaceDesc_f
1,"Ait Sidi, Karthikeyan",10084,104437.0,27,Sr. DBA,05/05/75,M,Married,White,3/30/2015,6/16/2016,1.0,Simon Roup,4.0,Indeed,17.0,20
2,"Akinkuolie, Sarah",10196,64955.0,20,Production Technician II,09/19/88,F,Married,White,7/5/2011,9/24/2012,2.0,Kissy Sullivan,20.0,LinkedIn,3.0,20
24,"Bondwell, Betsy",10267,57815.0,20,Production Technician II,01/16/67,F,Single,White,1/10/2011,4/4/2014,2.0,Elijiah Gray,16.0,Google Search,5.0,20
32,"Bunbury, Jessica",10188,74326.0,3,Area Sales Manager,06/01/64,F,Married,Black or African American,8/15/2011,8/2/2014,3.0,John Smith,17.0,Google Search,19.0,10
46,"Chivukula, Enola",10240,64786.0,19,Production Technician I,08/27/83,F,Single,White,6/27/2011,11/15/2015,2.0,Amy Dunn,11.0,Indeed,3.0,20

# Q4: Apply Binary Encoding.

In [67]:

import category_encoders as ce

encoder = ce.BinaryEncoder()
df_binary = encoder.fit_transform(df[['RecruitmentSource']])

df_binary.head()

    RecruitmentSource_0  RecruitmentSource_1  RecruitmentSource_2
1                     0                    0                    1
2                     0                    1                    0
24                    0                    1                    1
32                    0                    1                    1
46                    0                    0                    1