In [1]:
import pandas as pd 
import numpy as np
from sklearn import preprocessing
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import OneHotEncoder
import category_encoders as ce

In [2]:
df = pd.DataFrame({"Grade":['A' , 'B' , 'C' , 'D' , 'F' , 'D' , 'F' ,'A' , 'B' , 'C' , 'D' , 'F']})
df.shape

(12, 1)

# Q1: Apply Ordinal encoding.

In [3]:
ordEcnd = OrdinalEncoder()
ordEcnd.fit(df)
ordEcnd.categories_
df['ord encode'] = ordEcnd.transform(df)
df

   Grade  ord encode
0      A         0.0
1      B         1.0
2      C         2.0
3      D         3.0
4      F         4.0
5      D         3.0
6      F         4.0
7      A         0.0
8      B         1.0
9      C         2.0
10     D         3.0
11     F         4.0

# Q2: Apply One hot encoding.

In [4]:
dfone= ce.OneHotEncoder(cols=['Grade']).fit(df).transform(df)
dfone.join(df['Grade'])

    Grade_1  Grade_2  Grade_3  Grade_4  Grade_5  ord encode Grade
0         1        0        0        0        0         0.0     A
1         0        1        0        0        0         1.0     B
2         0        0        1        0        0         2.0     C
3         0        0        0        1        0         3.0     D
4         0        0        0        0        1         4.0     F
5         0        0        0        1        0         3.0     D
6         0        0        0        0        1         4.0     F
7         1        0        0        0        0         0.0     A
8         0        1        0        0        0         1.0     B
9         0        0        1        0        0         2.0     C
10        0        0        0        1        0         3.0     D
11        0        0        0        0        1         4.0     F

# Q3: Apply Frequency Encoding.

In [5]:
df['Freq encode'] = ce.CountEncoder(cols=['Grade']).fit(df).transform(df)['Grade']
df

   Grade  ord encode  Freq encode
0      A         0.0            2
1      B         1.0            2
2      C         2.0            2
3      D         3.0            3
4      F         4.0            3
5      D         3.0            3
6      F         4.0            3
7      A         0.0            2
8      B         1.0            2
9      C         2.0            2
10     D         3.0            3
11     F         4.0            3

# Q4: Apply Binary Encoding.

In [6]:
data_binary = ce.BinaryEncoder(cols=['Grade']).fit_transform(df["Grade"]);
data_binary = data_binary.join(df[['Grade' , 'ord encode']])
data_binary

    Grade_0  Grade_1  Grade_2 Grade  ord encode
0         0        0        1     A         0.0
1         0        1        0     B         1.0
2         0        1        1     C         2.0
3         1        0        0     D         3.0
4         1        0        1     F         4.0
5         1        0        0     D         3.0
6         1        0        1     F         4.0
7         0        0        1     A         0.0
8         0        1        0     B         1.0
9         0        1        1     C         2.0
10        1        0        0     D         3.0
11        1        0        1     F         4.0