In [1]:
import pandas as pd 
import numpy as np
from sklearn.preprocessing import OrdinalEncoder
# from sklearn.preprocessing import OneHotEncoder
# from category_encoders import BinaryEncoder

In [2]:
data = {'Size':['Small','Medium','Large','Large'],
        'Category':[1,2,3,3]}

In [3]:
df = pd.DataFrame(data)

# Q1: Apply Ordinal encoding.

In [4]:
df_ordinal = df.copy()
df_ordinal

     Size  Category
0   Small         1
1  Medium         2
2   Large         3
3   Large         3

In [5]:
encoder = OrdinalEncoder()
ordinal_encoding = encoder.fit_transform(df_ordinal)
print(ordinal_encoding)# alphabeticald order

[[2. 0.]
 [1. 1.]
 [0. 2.]
 [0. 2.]]

# Q2: Apply One hot encoding.

In [6]:
df_onehot = df.copy()
df_onehot

     Size  Category
0   Small         1
1  Medium         2
2   Large         3
3   Large         3

In [7]:
onehot_encoding = pd.get_dummies(df_onehot)
onehot_encoding

   Category  Size_Large  Size_Medium  Size_Small
0         1           0            0           1
1         2           0            1           0
2         3           1            0           0
3         3           1            0           0

# Q3: Apply Frequency Encoding.

In [8]:
df_freq = df.copy()
df_freq

     Size  Category
0   Small         1
1  Medium         2
2   Large         3
3   Large         3

In [9]:
freq_encoding = df_freq.Size.value_counts()
freq_encoding

Large     2
Small     1
Medium    1
Name: Size, dtype: int64

# Q4: Apply Binary Encoding.

In [10]:
df_binary = df.copy()
df_binary

     Size  Category
0   Small         1
1  Medium         2
2   Large         3
3   Large         3

In [11]:
df_binary['Size'].value_counts()

Large     2
Small     1
Medium    1
Name: Size, dtype: int64

In [12]:
df_binary['Binary'] = np.where(df_binary['Size'].str.contains('Small'), 1, 0)
df_binary['Binary']

0    1
1    0
2    0
3    0
Name: Binary, dtype: int64

In [13]:
df_binary['Binary'] = np.where(df_binary['Size'].str.contains('Medium'), 1, 0)
df_binary['Binary']

0    0
1    1
2    0
3    0
Name: Binary, dtype: int64

In [14]:
df_binary['Binary'] = np.where(df_binary['Size'].str.contains('Large'), 1, 0)
df_binary['Binary']

0    0
1    0
2    1
3    1
Name: Binary, dtype: int64